.movies {
  height: 580px;
  width: 350px;
  background-color: #1c2237;
  margin: 10px;
  box-shadow: 2px 1px 8px 3px rgba(0, 0, 0, 0.5);
  text-align: center;
  border-radius: 0 0 20px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: all 0.3s ease;
}

@media (min-width: 300px) {
  .movies {
    width: 150px;
  }
}

@media (min-width: 600px) {
  .movies {
    width: 250px;
    height: 480px;
  }
}

@media (min-width: 768px) {
  .movies {
    width: 300px;
    height: 530px;
  }
}

.movies:hover {
  transform: scale(1.01);
  transition: all 0.3s ease;
}

.movies img {
  height: 500px;
  width: inherit;
}

.movies-title {
  width: inherit;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
