* {
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #111422;
  color: white;
}

.movies-container {
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
